@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    height: 100%;

    /* Gradient in RGBA */
    background-image: linear-gradient(to bottom, #0D263A, #326A90, #00256B, #391517, #711F24, #A01D22, #930918);
}

header {
    height: 90px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

nav {
    width: 80%;
    height: 0px;
    
}

ul {
    display: flex;
    margin-top: 1px;
    width: 80%;
    justify-content: space-between;
}

li {
    list-style: none;
    color: aliceblue;
    cursor: pointer;
    font-size: 40px;
    transition: .6s;
}

li:hover {
    color: #326A90;
    transform: scale(1.10);
}

#logo {
    width: 150px;
    height: auto;
}


#banner {
    background-image: url('./imagens/spider-man-ps4-4k.jpg');
    background-position: 50% 50%;
    background-size: cover;
    width: auto;
    height: 400px;
}

.cards-container {
    width: 100%;
    height: 66%;
    padding-top: 15px;
    display: flex;
    justify-content: center;
    align-content: center;
}

.cards-content {
    width: 95%;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    row-gap: 30px;
    column-gap: 30px;
}

.card {
    width: 100%;
    height: 600px;
    background-size: cover;
    background-position: 50% 1%;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 0px 0px 20px 10px;
    color: #fff;
    font-size: 20px;
    font-family: "Kdam Thmor Pro", sans-serif;
}

.card:hover {
    transform: scale(1.02);
}

.banner-1 {
    background-image: url(https://e1.pxfuel.com/desktop-wallpaper/563/1004/desktop-wallpaper-spiderman-ps4-vertical-spider-man.jpg);
}

.banner-2 {
    background-image: url(https://upload.wikimedia.org/wikipedia/en/thumb/0/01/Gwen_Stacy_%28Into_the_Spider-Verse%29.png/170px-Gwen_Stacy_%28Into_the_Spider-Verse%29.png);
}

.banner-3 {
    background-image: url(https://i.pinimg.com/originals/23/36/cb/2336cba7dd76932e0ea380b6d3d4b709.jpg);
}

.banner-4 {
    background-image: url(https://p2.trrsf.com/image/fget/cf/1200/1600/middle/images.terra.com/2022/01/28/fortnite-green-goblin-set-1920x1080-899e26a872c1.jpg);
}

.banner-5 {
    background-image: url(https://lh3.googleusercontent.com/proxy/6VNlsRG7z2l6tJrmQ2EVTJKXMYc1DhynAQjzXIPuBH8zxeiP8ckYx7WoGy9T5aL4kV_KNeGi6QAddVAqcRiP2aS8lfzL5XHNKN32-mmDc88G4JN0c2F7WKZckHxQVHT7y6E_WpE);
}

footer {
    height: 100px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

span {
    color: #fff;
    font-family: "Kdam Thmor Pro", sans-serif;
    font-size: 12px;
}

.footer-navigation {
    display: none;
}

.footer-list {
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media(max-width:768px){
    .footer-navigation {
        display: block;
    }

    nav {
        display: none;
    }

    #banner {
        background-position: 21%;
    }
}